* {
	font-family: $font-stack;
        margin:0; 
        padding:0;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color:$general-text-color;
}

a:hover {
    color:$general-text-color;
}