/* Card UI */

.phs-cards {
    width: 800px;
    margin: 0 auto;
}

.phs-cardwrapper{
    width: 45%;
}

.phs-cardwrapper.left{
    float:left;
}

.phs-cardwrapper.right{
    
    float:left;
}



/*
    The actual cards themself
*/
.phs-card {
        margin: 10px;
	box-shadow: 0px 0px 2px #252525; 
	padding: 2.5%; 
	min-height: 200px; 
	border-radius: 2px;
        margin-bottom: 5%;
}

.phs-card h2 {
	padding: 10px 10px 0px; 
	font-weight: 300; 
	margin-bottom: 20px;
}

.phs-card p {
    padding:0 0 0 10px;
}


/*
    Some card components
*/


.phs-card .phs-list {
    list-style-type: none;
    padding:10px;
    font-size: 13px;
}

.phs-card .phs-list li {
    border-top: 1px solid $general-color;
    color: $general-color;
    padding:10px 0 5px;
}

.phs-card .phs-list li .phs-title {
    font-weight: bold;
    font-size: 14px;
}

.phs-card .phs-list li p{
    padding:0;
}

.phs-card .phs-list li img{
    float:left;
    height: 100%;
}

/* Card additionals */

.phs-card .phs-big-info {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.phs-card .phs-small-info {
    display: block;
    text-align: center;
    font-weight: 200;
}




/*

    Responsive section

*/

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
    .phs-cards {width: 100%;}
    .phs-cardwrapper {width: 100%;}
}

@media only screen and (max-width: 480px) {
    
}


