/*
	The chat bubble/comments
*/
.phs-comments {
	width:300px;
}

.phs-comment.phs-left img{
	float:left;

}

.phs-comment.phs-right img{
	float:right;
	margin-right:-220px;
}

.phs-comment img{
	max-width:65px;
	border-radius:50%;
}

.phs-comments .phs-comment {
	width:100%;
	margin-bottom:20px;
}

.phs-comments .phs-comment p {
	margin:10px 0 10px 0;
}

/* general button bubble */
.phs-bubble {
	position:relative;
	background:$my-bubble;
	padding: 1px 20px 10px;
	color:#fff;
	border-radius:1px;
	margin-left:90px;
}

.phs-bubble:after{
	content: '';
	display:block;
	position:absolute;
	
	width:0;
	height:0;
		
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;	
}

.phs-bubble .phs-title {
	border-bottom:1px solid #fff;
	font-size:12px;
	font-weight:400;
        padding-top: 10px;
}

.phs-bubble .phs-time {
	font-size:11px;
}

/* opposite bubble */
.phs-bubble.phs-opposite {
	background:$opposite-bubble;
}

.phs-bubble.phs-opposite:after {
	top:15px;
	right:-15px;
	border-left:15px solid $opposite-bubble;
}

/* Your bubble */
.phs-bubble.phs-me:after{
	left:-15px;
	top:15px;
	border-right:15px solid $my-bubble;
}
