.sidemenu {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: $side-menu-background-color;
    height: 100%;
    float:left;
}

.sidemenu .title {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

.sidemenu ul{
    color: $side-menu-text-color;
    list-style-type: none;
}

.sidemenu ul li {
    background-color: $side-menu-item-background-color;
    padding: 10px;
    border-bottom: 1px solid $side-menu-item-divider-color;
}


/* Side menu content */

.side-content {
    width: 75%;
    float:left;
}