.sidemenu {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: $side-menu-background-color;
    height: 100%;
    max-height: 100%;
    float:left;
    border-right: 1px solid lightgray;
    overflow: auto;
}

.sidemenu .title {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    background-color:$side-menu-background-color;
    padding:18px 9px 0px;
    font-weight: 200;
}

.sidemenu .sub-title {
    padding:10px;
    border:none;
    text-transform: uppercase;
    font-size: 11px;
}

.sidemenu ul{
    color: $side-menu-text-color;
    list-style-type: none;
}

.sidemenu ul li {
    background-color: $side-menu-item-background-color;
    padding: 10px;
    border-top: 1px solid $side-menu-item-divider-color;
}


/* Side menu content */

.side-content {
    width: 74%;
    float:left;
    overflow:auto;
    height: 100%;
}

.side-content .title {
    margin:10px;
    padding-bottom: 5px;
    font-weight: 200;
    border-bottom: 1px solid $general-color;
}

.sidemenu-open {
    float:left;
    margin: 10px 10px 0px 10px;
    display:none;
}

/*

    Responsive section

*/

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
    .sidemenu {
        display: none;
        position: absolute;
        width: 50%;
    }
    
    .side-content {
        width: 100%;
        
    }
    
    .sidemenu-open {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    
}
