.phs-sidemenu {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: $side-menu-background-color;
    height: 100%;
    max-height: 100%;
    float:left;
    border-right: 1px solid lightgray;
    overflow: auto;
}

.phs-sidemenu .phs-title {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    background-color:$side-menu-background-color;
    padding:18px 9px 0px;
    font-weight: 200;
}



.phs-sidemenu .phs-sub-title {
    padding:10px;
    border:none;
    text-transform: uppercase;
    font-size: 11px;
}

.phs-sidemenu ul{
    color: $side-menu-text-color;
    list-style-type: none;
}

.phs-sidemenu ul li {
    background-color: $side-menu-item-background-color;
    border-top: 1px solid $side-menu-item-divider-color;
}

.phs-sidemenu ul li a {
    width: 92%;
    display: block;
    padding:10px;
    text-decoration: none;
}

.phs-sidemenu ul li a:hover{
    background-color: #F8F0F0;
}

.phs-sidemenu ul li img {
    vertical-align: middle;
}

.phs-sidemenu-open {
    float:left;
    margin: 10px 10px 0px 10px;
    display:none;
}

/* Side menu content */

.phs-side-content {
    width: 72%;
    float:left;
    overflow:auto;
    height: 100%;
    margin: 0% 1%;
}

.phs-side-content .phs-title {
    padding-bottom: 5px;
    font-weight: 200;
    border-bottom: 1px solid $general-color;
    margin: 16px 0px 15px 0px;
}

.phs-side-content .phs-title a{
    float:right;
    font-size: 20px;
    padding: 5px 25px;
}

.phs-side-content form .phs-sidemenu-open {
    margin: 0px 10px;
}

.phs-side-wrapper {
    height: 90%;
}


/*

    Responsive section

*/

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
    .phs-sidemenu {
        display: none;
        position: absolute;
        width: 70%;
        left: -75%;
    }
    
    .phs-side-content {
        width: 97%;     
    }
    
    .phs-sidemenu-open {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    
}
