.phs-tabbar-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 62px;
    width: 100%;
    background-color: $tab-bar-menu-background-color;
    color:$tab-bar-menu-text-color;
    border-top:1px solid lightgray;
}

.phs-tabbar-container ul{
    text-align: center;
    list-style-type: none;
}

.phs-tabbar-container ul li {
    display: inline-block;
    min-width: 80px;
}

.phs-tabbar-container ul li a{
    display: block;
    padding: 4px;
    text-decoration: none;
    color:$tab-bar-menu-text-color;
}

.phs-tabbar-container ul li span {
    display: block;
}
