$font-stack: 'Helvetica Neue',Helvetica, sans-serif;
$general-color: #756C6C;
$general-text-color: #252525;



/* Chat bubbles */
$opposite-bubble: rgb(137, 199, 228);
$my-bubble: rgb(107, 216, 142);

/* Side menu */
$side-menu-background-color: rgb(247, 245, 245);
$side-menu-text-color: #252525;
$side-menu-item-background-color: white;
$side-menu-item-divider-color:lightgray;