$font-stack: 'Helvetica Neue',Helvetica, sans-serif;
$general-color: #756C6C;



/* Chat bubble */
$opposite-bubble: rgb(137, 199, 228);
$my-bubble: rgb(107, 216, 142);

/* Side menu */
$side-menu-background-color: lightblue;
$side-menu-text-color: #252525;
$side-menu-item-background-color: wheat;
$side-menu-item-divider-color:white;